
.nav{
    background-color: black;
    width: 100%;
    height: 10%;
  }
  
  .nav-container{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  .logo{
    color: white;
    height: 100%;
    font-family: 'Bungee Spice';
    font-weight: 700;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-items{
    color: white;
  }
  
  .nav-icons{
    width: 22px;
    min-width: 22px;
    fill: white;
  }
  
  .nav-mobile{
    width: 50%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
  }
  
  .closed-nav{
    color: white;
    position: absolute;
    right: 10%;
    top: 10%;
    transform: translate(-10%, -10%);
    font-size: 1.5rem;
  }
  
  .nav-mobile__container{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 100px 0 0 10px;
  }
  
  .nav-mobile__items{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    letter-spacing: 6px;
    display: flex;
    padding-right: 6px;
  }
  
  .nav-mobile__items svg{
    width: 16px;
    fill: white;
  }

  .list-categories{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    position: absolute;
    right: -100%;
    top: 0;
  }